{% extends "layout.html" %}

{% block title %}
            index.html
{% endblock %}

{% block body %}
        <div class="not_logged_in">
            <form id="form">
              <div class="form-group">
                <label>Display Name</label>
                <input class="form-control" id="name" placeholder="Enter Your Display Name Here">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h1>{{ display_names }}</h1>
            <h1 id="#display_name"></h1>

        </div>

        <div class="logged_in" style="display: none;">
            <h2>This is what being logged in looks like</h2>
        </div>
{% endblock %}
