{% extends "layout.html" %}

{% block title %}
            index.html
{% endblock %}

{% block body %}
        <div class = "row">
            <div class = "col-3">
                <form id="form">
                  <div class="form-group">
                    <label>Display Name</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input class="form-control" id="name" placeholder="Enter Display Name"/>
                    </div>
                  </div>
                  <button id="add_user_button" type="submit" class="btn btn-primary" disabled>Submit</button>
                </form>

                <form id="new_channel_form">
                  <div class="form-group">
                    <label>Make a new Channel</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">#</span>
                        </div>
                        <input class="form-control" id="channel_name" placeholder="Enter Channel Name"/>
                    </div>
                  </div>
                  <button id="add_channel_button" type="submit" class="btn btn-outline-success" disabled>Create Channel</button>
                </form>

                <h2>List of Current Users</h2>


                <div class="user" id="current_users">
                    <ul>
                        {% for current_users in current_users %}
                        <li>
                                {{ current_users }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <h2>List of Channels</h2>
                <hr/>

                <div class="btn-group-vertical" id="channel_list">

                    {% for channel_list in channel_list %}

                    <button onclick="messageView()" type="button" class="btn btn-outline-info" class="channel">
                        {{ channel_list }}
                    </button>

                    {% endfor %}
                </div>
                <hr/>
            </div>

            <div class="col" style="background: grey;">
                <div>
                    <div>
                        <form id="messsage_form" style="display: none">
                            <div class="form-group">
                                <input class="form-control" id="message" placeholder="What would you like to say?">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <div id="current_messages"></div>
            </div>
        </div>
{% endblock %}
